.start-page {
    text-align: center;    
    padding-top: 40px;
}

button {
    background-color: rgb(133, 185, 185);
    border-radius: 10px;
    padding:8px;

}

button:hover {
    background-color: grey;
    color: white;
}

.main {
    text-align: center;
    margin-top: 200px;
    background-color: rgb(175, 185, 187);
 }

.time {
    position: relative;
    top: -100px;
    left: 400px;
    color: red;
}

.hide{
    display: none;
}    

LI {
    list-style-type: none;
    padding-bottom: 10px;
}

p {
    font-size: 20px;
}